--
-- PostgreSQL database dump
--

\restrict WCw7H9N2XnH9v4pOlveCB6vrOVgu1nda5CqQkAyZLlNInOteN6g63p6xKBXZUhf

-- Dumped from database version 16.15
-- Dumped by pg_dump version 16.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: NotificationType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."NotificationType" AS ENUM (
    'LOW_STOCK',
    'RESTOCK_ORDER_CREATED',
    'RESTOCK_ORDER_APPROVED',
    'RESTOCK_EMAIL_SENT',
    'RESTOCK_RECEIVED',
    'SYSTEM'
);


ALTER TYPE public."NotificationType" OWNER TO postgres;

--
-- Name: PaymentMethod; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."PaymentMethod" AS ENUM (
    'CASH',
    'UPI',
    'CARD'
);


ALTER TYPE public."PaymentMethod" OWNER TO postgres;

--
-- Name: RestockOrderStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."RestockOrderStatus" AS ENUM (
    'DRAFT',
    'PENDING_APPROVAL',
    'APPROVED',
    'SENT',
    'RECEIVED',
    'CANCELLED'
);


ALTER TYPE public."RestockOrderStatus" OWNER TO postgres;

--
-- Name: SaleStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."SaleStatus" AS ENUM (
    'COMPLETED',
    'CANCELLED'
);


ALTER TYPE public."SaleStatus" OWNER TO postgres;

--
-- Name: TransactionType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."TransactionType" AS ENUM (
    'INITIAL_STOCK',
    'SALE',
    'RESTOCK',
    'MANUAL_ADJUSTMENT',
    'RETURN'
);


ALTER TYPE public."TransactionType" OWNER TO postgres;

--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."UserRole" AS ENUM (
    'SHOPKEEPER',
    'ADMIN'
);


ALTER TYPE public."UserRole" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categories (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(6) with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(6) with time zone NOT NULL,
    created_by text
);


ALTER TABLE public.categories OWNER TO postgres;

--
-- Name: inventory_transactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventory_transactions (
    id text NOT NULL,
    product_id text NOT NULL,
    type public."TransactionType" NOT NULL,
    quantity_change integer NOT NULL,
    stock_before integer NOT NULL,
    stock_after integer NOT NULL,
    reference_type text,
    reference_id text,
    reason text,
    created_by text,
    created_at timestamp(6) with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.inventory_transactions OWNER TO postgres;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    id text NOT NULL,
    user_id text NOT NULL,
    type public."NotificationType" NOT NULL,
    title text NOT NULL,
    message text NOT NULL,
    reference_type text,
    reference_id text,
    is_read boolean DEFAULT false NOT NULL,
    created_at timestamp(6) with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    read_at timestamp(6) with time zone
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products (
    id text NOT NULL,
    name text NOT NULL,
    sku text NOT NULL,
    barcode text,
    category_id text NOT NULL,
    supplier_id text NOT NULL,
    purchase_price numeric(12,2) NOT NULL,
    selling_price numeric(12,2) NOT NULL,
    current_stock integer DEFAULT 0 NOT NULL,
    minimum_stock integer DEFAULT 0 NOT NULL,
    restock_quantity integer DEFAULT 1 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(6) with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(6) with time zone NOT NULL,
    created_by text
);


ALTER TABLE public.products OWNER TO postgres;

--
-- Name: restock_order_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.restock_order_items (
    id text NOT NULL,
    restock_order_id text NOT NULL,
    product_id text NOT NULL,
    quantity integer NOT NULL,
    unit_purchase_price numeric(12,2) NOT NULL,
    subtotal numeric(12,2) NOT NULL
);


ALTER TABLE public.restock_order_items OWNER TO postgres;

--
-- Name: restock_orders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.restock_orders (
    id text NOT NULL,
    order_number text NOT NULL,
    supplier_id text NOT NULL,
    status public."RestockOrderStatus" DEFAULT 'PENDING_APPROVAL'::public."RestockOrderStatus" NOT NULL,
    total_amount numeric(12,2) DEFAULT 0 NOT NULL,
    created_by text,
    created_at timestamp(6) with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    approved_at timestamp(6) with time zone,
    sent_at timestamp(6) with time zone,
    received_at timestamp(6) with time zone,
    cancelled_at timestamp(6) with time zone,
    updated_at timestamp(6) with time zone NOT NULL
);


ALTER TABLE public.restock_orders OWNER TO postgres;

--
-- Name: sale_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sale_items (
    id text NOT NULL,
    sale_id text NOT NULL,
    product_id text NOT NULL,
    quantity integer NOT NULL,
    unit_price numeric(12,2) NOT NULL,
    discount numeric(12,2) DEFAULT 0 NOT NULL,
    tax numeric(12,2) DEFAULT 0 NOT NULL,
    subtotal numeric(12,2) NOT NULL
);


ALTER TABLE public.sale_items OWNER TO postgres;

--
-- Name: sales; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sales (
    id text NOT NULL,
    invoice_number text NOT NULL,
    subtotal numeric(12,2) NOT NULL,
    discount numeric(12,2) DEFAULT 0 NOT NULL,
    tax numeric(12,2) DEFAULT 0 NOT NULL,
    total_amount numeric(12,2) NOT NULL,
    payment_method public."PaymentMethod" NOT NULL,
    status public."SaleStatus" DEFAULT 'COMPLETED'::public."SaleStatus" NOT NULL,
    created_by text NOT NULL,
    created_at timestamp(6) with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(6) with time zone NOT NULL
);


ALTER TABLE public.sales OWNER TO postgres;

--
-- Name: suppliers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.suppliers (
    id text NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    phone text,
    address text,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(6) with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(6) with time zone NOT NULL,
    created_by text
);


ALTER TABLE public.suppliers OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id text NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    password_hash text NOT NULL,
    role public."UserRole" DEFAULT 'SHOPKEEPER'::public."UserRole" NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(6) with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(6) with time zone NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.categories (id, name, description, is_active, created_at, updated_at, created_by) FROM stdin;
a5379228-0a53-4350-9fdf-3feca14e31d5	Spices & Masalas	Ground spices and daily cooking masalas	t	2026-08-20 12:25:08.889+00	2026-08-20 12:25:08.889+00	0044418a-e8f7-4d0b-8afd-d435b4b3f2a1
6f17fca7-6be2-473f-bba4-5ce7d751fd54	Rice & Wheat Atta	\N	t	2026-08-20 12:40:38.384+00	2026-08-20 12:40:38.384+00	47176fbd-6ca3-40e0-b082-24d7cb789f0c
63e4e334-370a-431c-bbc1-ff57cd0c186c	Food	\N	t	2026-08-20 12:47:03.054+00	2026-08-20 12:47:03.054+00	0ee38d79-b39a-4753-8e5b-9181d275c1b8
\.


--
-- Data for Name: inventory_transactions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.notifications (id, user_id, type, title, message, reference_type, reference_id, is_read, created_at, read_at) FROM stdin;
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: restock_order_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.restock_order_items (id, restock_order_id, product_id, quantity, unit_purchase_price, subtotal) FROM stdin;
\.


--
-- Data for Name: restock_orders; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.restock_orders (id, order_number, supplier_id, status, total_amount, created_by, created_at, approved_at, sent_at, received_at, cancelled_at, updated_at) FROM stdin;
\.


--
-- Data for Name: sale_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sale_items (id, sale_id, product_id, quantity, unit_price, discount, tax, subtotal) FROM stdin;
1ab89685-1298-40fc-83ae-91a8e970b774	08cc91ad-4e3e-4cd0-9920-4ea3e09c00db	c255f0ad-ead5-4c52-af84-bc89a2430e2a	4	15.00	0.00	0.00	60.00
770435a0-5106-4756-a4cd-beaffc0bcff0	41c23434-3d32-4d9e-82c2-5698f7c02ab7	c255f0ad-ead5-4c52-af84-bc89a2430e2a	37	15.00	0.00	0.00	555.00
0fae6a70-6952-4acf-8523-588144fc9481	0310a112-202a-4045-a7e0-47ef65e9a1a7	c255f0ad-ead5-4c52-af84-bc89a2430e2a	9	15.00	0.00	0.00	135.00
\.


--
-- Data for Name: sales; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: suppliers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: inventory_transactions inventory_transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_transactions
    ADD CONSTRAINT inventory_transactions_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: restock_order_items restock_order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restock_order_items
    ADD CONSTRAINT restock_order_items_pkey PRIMARY KEY (id);


--
-- Name: restock_orders restock_orders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restock_orders
    ADD CONSTRAINT restock_orders_pkey PRIMARY KEY (id);


--
-- Name: sale_items sale_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sale_items
    ADD CONSTRAINT sale_items_pkey PRIMARY KEY (id);


--
-- Name: sales sales_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sales
    ADD CONSTRAINT sales_pkey PRIMARY KEY (id);


--
-- Name: suppliers suppliers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suppliers
    ADD CONSTRAINT suppliers_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: categories_created_by_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX categories_created_by_idx ON public.categories USING btree (created_by);


--
-- Name: inventory_transactions_product_id_created_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX inventory_transactions_product_id_created_at_idx ON public.inventory_transactions USING btree (product_id, created_at);


--
-- Name: notifications_user_id_is_read_created_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX notifications_user_id_is_read_created_at_idx ON public.notifications USING btree (user_id, is_read, created_at);


--
-- Name: products_barcode_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX products_barcode_key ON public.products USING btree (barcode);


--
-- Name: products_category_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_category_id_idx ON public.products USING btree (category_id);


--
-- Name: products_created_by_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_created_by_idx ON public.products USING btree (created_by);


--
-- Name: products_sku_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX products_sku_key ON public.products USING btree (sku);


--
-- Name: products_supplier_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_supplier_id_idx ON public.products USING btree (supplier_id);


--
-- Name: restock_order_items_product_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX restock_order_items_product_id_idx ON public.restock_order_items USING btree (product_id);


--
-- Name: restock_order_items_restock_order_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX restock_order_items_restock_order_id_idx ON public.restock_order_items USING btree (restock_order_id);


--
-- Name: restock_orders_created_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX restock_orders_created_at_idx ON public.restock_orders USING btree (created_at);


--
-- Name: restock_orders_order_number_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX restock_orders_order_number_key ON public.restock_orders USING btree (order_number);


--
-- Name: restock_orders_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX restock_orders_status_idx ON public.restock_orders USING btree (status);


--
-- Name: restock_orders_supplier_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX restock_orders_supplier_id_idx ON public.restock_orders USING btree (supplier_id);


--
-- Name: sale_items_product_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX sale_items_product_id_idx ON public.sale_items USING btree (product_id);


--
-- Name: sale_items_sale_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX sale_items_sale_id_idx ON public.sale_items USING btree (sale_id);


--
-- Name: sales_created_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX sales_created_at_idx ON public.sales USING btree (created_at);


--
-- Name: sales_created_by_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX sales_created_by_idx ON public.sales USING btree (created_by);


--
-- Name: sales_invoice_number_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX sales_invoice_number_key ON public.sales USING btree (invoice_number);


--
-- Name: suppliers_created_by_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX suppliers_created_by_idx ON public.suppliers USING btree (created_by);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: categories categories_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: inventory_transactions inventory_transactions_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_transactions
    ADD CONSTRAINT inventory_transactions_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: inventory_transactions inventory_transactions_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_transactions
    ADD CONSTRAINT inventory_transactions_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: notifications notifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: products products_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: products products_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: products products_supplier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_supplier_id_fkey FOREIGN KEY (supplier_id) REFERENCES public.suppliers(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: restock_order_items restock_order_items_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restock_order_items
    ADD CONSTRAINT restock_order_items_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: restock_order_items restock_order_items_restock_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restock_order_items
    ADD CONSTRAINT restock_order_items_restock_order_id_fkey FOREIGN KEY (restock_order_id) REFERENCES public.restock_orders(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: restock_orders restock_orders_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restock_orders
    ADD CONSTRAINT restock_orders_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: restock_orders restock_orders_supplier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restock_orders
    ADD CONSTRAINT restock_orders_supplier_id_fkey FOREIGN KEY (supplier_id) REFERENCES public.suppliers(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: sale_items sale_items_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sale_items
    ADD CONSTRAINT sale_items_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: sale_items sale_items_sale_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sale_items
    ADD CONSTRAINT sale_items_sale_id_fkey FOREIGN KEY (sale_id) REFERENCES public.sales(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: sales sales_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sales
    ADD CONSTRAINT sales_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: suppliers suppliers_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suppliers
    ADD CONSTRAINT suppliers_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict WCw7H9N2XnH9v4pOlveCB6vrOVgu1nda5CqQkAyZLlNInOteN6g63p6xKBXZUhf

